* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none; }

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #000; }

.header {
  height: 60px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  position: relative; }
  .header__logo {
    width: 150px; }

.location {
  height: 50px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .location__city {
    padding: 0 21px 0 10px; }

.introduction {
  height: 290px;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .introduction__heading {
    max-width: 240px;
    text-align: center; }
  .introduction__text {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    padding: 20px; }
  .introduction__button {
    padding: 17px 22px;
    border-radius: 40px;
    background: linear-gradient(355deg, #9356dc, #FF79DA);
    color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
    .introduction__button:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: 300ms;
      box-shadow: 0px 5px 10px 4px rgba(114, 110, 110, 0.5); }

.functioning {
  padding-bottom: 45px; }
  .functioning__title {
    padding: 45px 25px 25px 25px; }
  .functioning__container {
    padding: 0px 15px 23px 35px; }
  .functioning__subtitle {
    display: flex;
    padding: 26px 20px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
    .functioning__subtitle:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: 300ms;
      box-shadow: 0px 5px 10px 4px rgba(114, 110, 110, 0.5); }
  .functioning__number {
    padding: 3px 8px 3px 8px;
    background: #9356dc;
    border-radius: 20px;
    color: white;
    transform: translateX(-140%);
    position: absolute; }
  .functioning__icon {
    font-size: 20px;
    color: grey;
    padding: 0 8% 0 8%; }
  .functioning__background {
    background-color: rgba(246, 239, 252, 0.875); }
  .functioning .fa-store-three {
    color: #9356dc; }

.restaurants {
  padding: 50px 25px 50px 25px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: normal;
  gap: 20px; }
  .restaurants__title {
    font-size: 24px; }
  .restaurants__bloc {
    display: flex;
    flex-direction: column;
    gap: 20px; }
  .restaurants__card {
    max-width: 768px;
    height: 250px;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
    .restaurants__card:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: 300ms;
      box-shadow: 0px 5px 10px 4px rgba(114, 110, 110, 0.5); }
  .restaurants__picture {
    height: 175px; }
  .restaurants__new {
    padding: 6px 12px;
    position: absolute;
    background-color: #99E2D0;
    color: #1b6150;
    border-radius: 2px;
    top: 14px;
    right: 13px; }
    .restaurants__new p {
      font-size: 14px; }
  .restaurants__news-hidden {
    display: none; }
  .restaurants__photo {
    width: 100%;
    height: 175px;
    border-radius: 20px 20px 0 0;
    object-fit: cover; }
  .restaurants__contents {
    height: 75px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 20px 20px; }
  .restaurants__text {
    font-size: 18px;
    padding: 12px; }
    .restaurants__text p {
      font-size: 17px;
      font-weight: 100;
      padding: 5px 0; }
  .restaurants__heart {
    margin-right: 25px; }
    .restaurants__heart .fa-heart {
      font-size: 24px; }

.footer {
  background-color: #353535;
  color: white; }
  .footer__title {
    font-family: 'Shrikhand';
    padding: 25px; }
    .footer__title a {
      color: white;
      font-size: 18px; }
  .footer__contents {
    padding-left: 25px; }
  .footer__link {
    display: flex;
    padding-bottom: 10px; }
    .footer__link .fa-solid {
      padding: 0 15px 0 0; }
    .footer__link .fa-handshake-angle {
      font-size: 12px; }
    .footer__link p {
      color: white; }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .functioning {
    display: flex; }
    .functioning__title {
      position: absolute; }
    .functioning__bloc {
      display: flex;
      width: 100%; }
    .functioning__container {
      width: 50%;
      padding-top: 115px; }
  .restaurants__title {
    bottom: 20px; }
  .restaurants__bloc {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

@media screen and (min-width: 993px) {
  .functioning {
    display: flex;
    flex-direction: column; }
    .functioning__title {
      margin: 0 auto; }
    .functioning__bloc {
      display: flex;
      width: 990px;
      margin: 0 auto; }
    .functioning__container {
      width: 50%;
      padding-top: 17px; }
  .restaurants__title {
    margin: 0 auto; }
  .restaurants__bloc {
    width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto; }
  .footer {
    height: 145px; }
    .footer__title {
      text-align: center; }
    .footer__contents {
      display: flex;
      justify-content: space-evenly; } }

.header__moveback {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 20px; }

.picture img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

.menu {
  background-color: #fafafa;
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -65px; }
  .menu__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 0 20px; }
  .menu__title {
    font-size: 28px;
    font-family: Shrikhand, sans-serif;
    font-weight: 100; }
  .menu__heart {
    font-size: 25px;
    padding-right: 35px; }

.list-of-dishes {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px; }
  .list-of-dishes__title {
    padding-bottom: 10px;
    position: relative; }
    .list-of-dishes__title h2 {
      font-size: 16px;
      font-weight: 100;
      padding: 16px 0 0 0; }
      .list-of-dishes__title h2:after {
        content: '';
        width: 40px;
        height: 3px;
        background: #99E2D0;
        position: absolute;
        z-index: 10;
        left: 0px;
        top: 40px; }
  .list-of-dishes__heading-and-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 13px 14px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
  .list-of-dishes__menu-title {
    font-size: 18px; }
  .list-of-dishes__menu-subtitle {
    font-weight: 100;
    padding-top: 5px; }

.list-of-dishes__title-position {
  position: relative;
  padding: 10px 0 10px 35px; }
  .list-of-dishes__title-position h2 {
    font-size: 16px;
    font-weight: 100;
    padding: 16px 0 0 20; }
    .list-of-dishes__title-position h2:after {
      content: '';
      width: 40px;
      height: 3px;
      background: #99E2D0;
      position: absolute;
      z-index: 10;
      left: 35px;
      top: 35px; }

.list-of-dishes__button {
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .list-of-dishes__button p {
    padding: 17px 50px;
    border-radius: 40px;
    background: linear-gradient(355deg, #9356dc, #FF79DA);
    color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
    .list-of-dishes__button p:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: 300ms;
      box-shadow: 0px 5px 10px 4px rgba(114, 110, 110, 0.5); }

@media screen and (min-width: 1050px) {
  .list-of-dishes__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px; } }
