* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}