// Logo 
.header {
    &__moveback {
        position: absolute;
        left: 20px;
        top: 20px;
        font-size: 20px;
    }
}

// Picture
.picture {
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}
.menu {
    background-color: $gray;
    border-radius: 40px 40px 0 0;
    position: relative;
    margin-top: -65px;
        &__heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 35px 0 0 20px;
            
        }      
        &__title {
            font-size: 28px;
            font-family: Shrikhand, sans-serif;
        }
        &__heart {
            font-size: 25px;
            padding-right: 35px;
        }
}