// Logo 
.header {
    &__moveback {
        position: absolute;
        left: 20px;
        top: 20px;
        font-size: 20px;
    }
}

// Picture
.picture {
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

// Title La palette du gout
.menu {
    background-color: $gray;
    border-radius: 40px 40px 0 0;
    position: relative;
    margin-top: -65px;
        &__heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 35px 0 0 20px;            
        }      
        &__title {
            font-size: 28px;
            font-family: Shrikhand, sans-serif;
            font-weight: 100;
        }
        &__heart {
            position: relative;
            i {                
                font-size: 24px;       
            }
            .fa-regular {                
                padding-right: 30px;
            }
            .fa-solid {                    
                position: absolute;
                right: 30px;
                background: linear-gradient(200deg, $primary-color-purple, $secondary-color-pink);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                transition: all 300ms ease-in-out;
                opacity: 0;
                &:hover {
                    opacity: 1;                        
                }
            }
        }
}

// List of dishes
.list-of-dishes {
    &__container {
        @include container-menu;
    }
    &__title { 
        padding-bottom: 10px; 
        position: relative;      
            h2 {
                font-size: 16px;
                font-weight: 100;
                padding: 16px 0 0 0;                  
                &:after {
                    content: '';
                    width: 40px;
                    height: 3px;
                    background: $tertiary-color-turquoise;
                    position: absolute;
                    z-index: 10;
                    left: 0px;
                    top: 40px;
                }                
            }
    }
    &__heading-and-price {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 13px 14px;
        background-color: white;
        border-radius: 15px;
            @include shadow
    }
    &__menu-title {
        font-size: 18px;
    }
    &__menu-subtitle {
        font-weight: 100;
        padding-top: 5px;
    }
}

// "Plats" move from La palette du gout 
.list-of-dishes {
    &__title-position {
        position: relative;
        padding: 10px 0 10px 35px;
        h2 {
            font-size: 16px;
            font-weight: 100;
            padding: 16px 0 0 20;
            &:after {
                content: '';
                width: 40px;
                height: 3px;
                background: $tertiary-color-turquoise;
                position: absolute;
                z-index: 10;
                left: 35px;
                top: 35px;
            }
        }
    }
}

// Order button
.list-of-dishes__button {
    height: 125px;
    @include centerFlex;
        p {
            @include button
        }
}

// Media queries 

// Tablet
@media screen and (min-width: 768px) {
    .footer {
        &__title {
            text-align: center;
        }
        &__contents {
            display: flex;
            justify-content: space-evenly;
        }
    }
}

// Desktop
@media screen and (min-width: 1160px) {     
    .list-of-dishes {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        &__title-position {
            margin-top: 6px;
        }
    }
}